<%= form_for @changeset, Routes.topic_path(@conn, :update, @topic), fn form -> %>
  <div class="form-group">
    <%= text_input form, :title, placeholder: "Title", class: "form-control" %>
    <%= error_tag form, :title %>
  </div>

  <%= submit "Save topic", class: "btn btn-primary" %>
<% end %>
